<body>
    <h1>Hello {{ username }}!</h1>
    <h2>Your Repositories:</h2>
    <ul>
        {% for repo in repos %}
            <li>
                {{ repo['full_name'] }} - Last updated: {{ repo['updated_at'] }}
                <ul>
                    {% if repo.latest_commit %}
                        <li>
                            Latest Commit: <strong>{{ repo.latest_commit.sha }}</strong><br>
                            Author: {{ repo.latest_commit.author }}<br>
                            Date: {{ repo.latest_commit.date }}<br>
                            Message: {{ repo.latest_commit.message }}
                        </li>
                    {% else %}
                        <li>No commits found.</li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <h2>Your Followers:</h2>
    <ul>
        {% if followers %}
            {% for follower in followers %}
                <li>{{ follower['login'] }}</li>
            {% endfor %}
        {% else %}
            <li>No followers found.</li>
        {% endif %}
    </ul>
</body>
