<body>
    <h1>Hello {{ username }}!</h1>
    <h2>Your Repositories:</h2>
    <ul>
        {% for repo in repos %}
            <li>
                <strong>{{ repo['full_name'] }}</strong> - Last updated: {{ repo['updated_at'] }}
                <ul>
                    {% if repo.latest_commit %}
                        <li>
                            Latest Commit: <strong>{{ repo.latest_commit.message }}</strong><br>
                            Author: {{ repo.latest_commit.author }}<br>
                            Date: {{ repo.latest_commit.date }}<br>
                        </li>
                    {% else %}
                        <li>No commits found.</li>
                    {% endif %}
                </ul>
            </li>
        {% else %}
            <li>No repositories found.</li>
        {% endfor %}
    </ul>

    <h2>Your Followers:</h2>
    <ul>
        {% for follower in followers %}
            <li>
                <a href="{{ follower.html_url }}">{{ follower.login }}</a>
            </li>
        {% else %}
            <li>No followers found.</li>
        {% endfor %}
    </ul>
</body>
