<html>
 <head>
 </head>
 <body>
    <b>Hello World</b>
    <p>Hello World</p>
    Hello World
    <img src="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg" alt="A bird image from Pixabay">
    <img src="https://cdn.pixabay.com/photo/2023/09/29/14/58/road-8284023_640.jpg" alt="A mountain image from Pixabay">
    <form action="/submit" method="post">
       <label for="namefield">Name:</label>
       <input type="text" id="namefield" name="name">
       <label for="agefield">Age:</label>
       <input type="number" id="agefield" name="age">
       <label for="yearfield">Bornyear:</label>
       <input type="number" id="yearfield" name="bornyear">
       <input type="submit" value="Submit">
    </form>
    <form action="/query" method="get">
       <label for="queryfield">Query:</label>
       <input type="text" id="queryfield" name="q" placeholder="Enter your query">
       <input type="submit" value="Submit Query">
    </form>
    <form action="/submit_github" method="post">
      <label for="username">GitHub Username:</label>
      <input type="text" id="username" name="username">
      <input type="submit" value="Submit">
    </form>
 </body>
</html>
